streamlit
neuralprophet==0.8.0
lightning>=2.0.0
torchmetrics==1.0.3
plotly
setuptools==69.5.1
torch --index-url https://download.pytorch.org/whl/cpu
yfinance
pandas
numpy
matplotlib
scikit-learn
joblib
